/* style3字體庫 */

@font-face {
    font-family: 'SourceHanSans-Heavy';
    src: url('../fonts/SourceHanSans-Heavy.otf') format('OpenType'), url('../fonts/SourceHanSans-Heavy.ttf') format('truetype'), url('../fonts/SourceHanSans-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'SourceHanSans-Medium';
    src: url('../fonts/SourceHanSans-Medium.otf') format('OpenType'), url('../fonts/SourceHanSans-Medium.ttf') format('truetype'), url('../fonts/SourceHanSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'SourceHanSans-Regular';
    src: url('../fonts/SourceHanSans-Regular.otf') format('OpenType'), url('../fonts/SourceHanSans-Regular.ttf') format('truetype'), url('../fonts/SourceHanSans-Regular.woff') format('woff');
}